<div id="hotblocks_item-335" class="hotblocks_item hid-335 hotblocks-item bloc-preparation-etudes">
    <div class="bloc-preparation-etudes">
        <div class="container-fluid">
            <div class="row top-row">
                <div class=" col col-sm-12">
                    <h2 class="kais">
                        <span>Examens sous surveillance</span>
                    </h2>
                    <p class="description">Réalisez facilement vos examens près de chez vous dans l’un des centres d’examens de l’Université Laval, au Québec ou au Nouveau-Brunswick, ou sous la surveillance d’un répondant.</p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <div class="boite-etudiants-actuels blanc">
                        <h2>Trouvez un centre d’examens ou un répondant</h2>
                        <a style="background-color: #F31111;" href="./centreExamen">+</a>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="boite-etudiants-actuels blanc">
                        <h2>Gérez votre
                            <br>dossier d’examens
                        </h2>
                        <a style="background-color: #F31111;" href="">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>