<app-nav-bar-front></app-nav-bar-front>
<header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('../../../assets/Front/img/curved-images/curve.png')">
      <div class="container">
        <br><br><br><br>
        <div class="row">
          <div class="text-center mx-auto">
            <h1 class="text-center pt-3 mt-n5" style="font-family: fantasy;">École supérieure privée d'ingénierie et de technologie </h1>
          </div>
        </div>
      </div>
  
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
</header>


<div class="region region-content">
    <div id="block-hotblocks-1" class="block block-hotblocks">
        <div class="content">
            <div class="hotblock">
                <div id="hotblocks_item-310" class="hotblocks_item hid-310 hotblocks-item boite-texte">
                    <div class=" ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="avec-barres">
                                        Examens sous
                                        surveillance
                                    </h1>
                                    <p style="text-align: center">
                                        Les cours à distance, à distance-hybride
                                        ou comodaux peuvent
                                        comporter des examens sous surveillance
                                        avec un contrôle
                                        d&#39;identité de l&#39;étudiant. Ces
                                        examens peuvent être
                                        faits sur le campus de l&#39;Université,
                                        dans un centre
                                        d&#39;examens ou sous la surveillance
                                        d&#39;un répondant.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hotblocks_item-312" class="hotblocks_item hid-312 hotblocks-item boite-texte">
                    <div class="background-gris">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="avec-barres">
                                        Sélection obligatoire d'un lieu
                                        d'examen
                                    </h2>
                                    <p>
                                        Que vous habitiez dans la région de
                                        Tunis ou à
                                        l'extérieur, il est possible de
                                        faire vos examens:
                                    </p>
                                    <ol>
                                        <li style="font-size: small;font-weight: bold;">
                                            sur le campus de l'Université Esprit Ariana Soghra
                                        </li>
                                        <li style="font-size: small;font-weight: bold;">
                                            sur le campus de l'Université Esprit Charguia
                                        </li>
                                        <li style="font-size: small;font-weight: bold;">
                                            sous la surveillance d'un
                                            répondant, si vous
                                            êtes à plus de 100 km de l'un des deux campus campus
                                        </li>
                                    </ol>
                                    <p>
                                        <strong> Dans tous les cas</strong>
                                        , vous devez
                                        <strong>obligatoirement</strong>
                                        &nbsp;sélectionner un lieu
                                        d&rsquo;examens
                                        <strong> avant la date limite.</strong>
                                        &nbsp;Vous recevrez une notification
                                        dans votre Espace Etudiant au
                                        moment opportun pour vous rappeler de
                                        vous inscrire.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="hotblocks_item-6" class="hotblocks_item hid-6 hotblocks-item boite-cta-deux-couleurs">
                    <div class="bas">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-8" style="padding-left: 30%;">
                                    <a href="./training" target="">
                                        <span class="ligne1">Explorez mes</span>
                                        <span class="ligne2">formations</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div id="hotblocks_item-314" class="hotblocks_item hid-314 hotblocks-item boite-texte">
                    <div class=" ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="avec-barres">
                                        <a id="centres-dexamens" name="centres-dexamens"></a>
                                        Centres d'examens d'Esprit
                                    </h2>
                                    <p>
                                        Les centres d'examens d'Esprit se
                                        trouvent à El Ghazela ou à Charguia:
                                    </p>
                                </div>
                                <section class="my-5">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-7 col-12 my-auto">
                                            <h3  class="text-gradient text-danger mb-0">Esprit Charguia II</h3>
                                            <br>
                                            <p class="pe-md-5 mb-4">
                                                Créé en 2003, le premier site abrite actuellement les activités de la formation continue, cours du soir, ESPRIT Language Center et le centre de certification Pearson VUE.
                                            </p>
                                            </div>
                                            <div class="col-md-5 col-12 my-auto">
                                            <a >
                                                <img class="w-100 border-radius-lg shadow-lg"
                                                src="../../../assets/Front/img/charguia.jpg"
                                                alt="Product Image" />
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="pt-lg-7 pt-5">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-8 order-2 order-md-2 order-lg-1">
                                            <a >
                                                <img class="w-100 border-radius-lg shadow-lg"
                                                src="../../../assets/Front/img/ghazela.jpg"
                                                alt="Product Image" />
                                            </a>
                                            </div>
                                            <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
                                            <div class="p-3 pt-0">
                                                <h3 class="text-gradient text-danger mb-0">SITE PRINCIPAL (El-Ghazela)</h3>
                                                <br>
                                                <p>
                                                Le second site réunit dans un premier bloc les activités de formation initiale d’ingénieurs, cours du jour, pour les spécialités informatique et Télécommunications et dans un deuxième bloc ESPRIT Prépa avec le Centre d’hébergement.
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>