<app-nav-bar></app-nav-bar>
<header>
    <div class="page-header min-vh-50" style="background-image:
        url(../../assets/Front/img/alternance.png)">
        <span class="mask "></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto text-white text-center">
                    <div class="bg-gradient">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2 class="text-dark "></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden" style="height:36px;margin-top:-35px;">
        <div class="w-full absolute bottom-0 start-0 end-0" style="transform:
            scale(2);transform-origin: top center;color:
            #fff;">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
</header>
<!-- ----------------------------------------------------------------- -->
<section class="py-4">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3
            mx-sm-0 mx-1 position-relative">
            <div style="display: flex; justify-content: center; width: 100%;">
                <div class="intro-small">
                    <div class="intro-small__wrapper">
                        <div class="intro-small__container">
                            <div class="intro-small__header">
                                <div style="text-align: center; padding: 30px;
                                    font-family: Arial, sans-serif;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h1>Formation en alternance</h1>
                                                <div class="sc-kPTPQs bJYkaB">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h3>Présentation du parcours :</h3>
                                                <div class="sc-kPTPQs bJYkaB">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    ESPRIT offre en plus des filières
                                                    classiques en cours de jour ou cours du soir, la possibilité
                                                    d’intégrer une formation par alternance avec l’une des
                                                    entreprises partenaires. Les candidats retenus dans ce cadre
                                                    bénéficieront :
                                                </p>
                                                <p style="width: 100%;">
                                                    Les candidats retenus
                                                    dans ce cadre bénéficieront :
                                                </p>
                                                <br>
                                                <ul style="list-style:
                                                    circle; margin-left: 60px; margin-bottom: 30px;">
                                                    <li>
                                                        D’une
                                                        formation de 4 années, alternée entre ESPRIT et l’entreprise
                                                        partenaire
                                                    </li>
                                                    <li>
                                                        D’un contrat d’embauche avec l’entreprise
                                                        partenaire et des avantages conséquents
                                                    </li>
                                                    <li>
                                                        D’une prise
                                                        en charge des frais de formation par l’entreprise partenaire
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h3>Conditions d'inscription :</h3>
                                                <div class="sc-kPTPQs bJYkaB">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul style="list-style: circle; margin-left:
                                                    60px; margin-bottom: 30px;">
                                                    <li>
                                                        être retenu par l'une des
                                                        entreprises partenaires.
                                                    </li>
                                                    <li>
                                                        titulaire d'une licence
                                                        dans la spécialité choisie.
                                                    </li>
                                                </ul>
                                                <p style="width:
                                                    100%;">
                                                    Le candidat sera contacté par Esprit pour la finalisation
                                                    de la procédure d'inscription.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h3> Procédure :</h3>
                                                <div class="sc-kPTPQs bJYkaB">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul style="list-style: circle; margin-left: 60px;
                                                    margin-bottom: 30px;">
                                                    <li>
                                                        <strong>
                                                            Je veux candidater uniquement
                                                            pour le cycle ingénieur en formation par alternance :
                                                        </strong>
                                                        <div class="sc-kPTPQs bJYkaB">
                                                            <hr class="sc-ispOId btZEIK">
                                                        </div>
                                                    </li>
                                                    <p style="width: 100%;">
                                                        En enregistrant votre candidature via
                                                        cette démarche, votre admission au cycle d’ingénieur ESPRIT
                                                        dépend de la décision de l’entreprise : Si vous êtes retenu,
                                                        vous allez être contacté par l’école pour poursuivre les
                                                        étapes d’admission et éventuellement votre inscription au
                                                        parcours de la formation par alternance.
                                                    </p>
                                                    <li>
                                                        <strong>
                                                            Je
                                                            veux candidater pour le cycle ingénieur en formation par
                                                            alternance et au concours d’admission en cours du jour
                                                            et en cours du soir :
                                                        </strong>
                                                        <div class="sc-kPTPQs
                                                            bJYkaB">
                                                            <hr class="sc-ispOId btZEIK">
                                                        </div>
                                                    </li>
                                                    <p style="width: 100%;">
                                                        Cette seconde formule intéresse un
                                                        candidat souhaitant intégrer le cycle ingénieur quelque soit
                                                        la décision de l’entreprise. En enregistrant votre
                                                        candidature, vous recevrez un email vous indiquant, en plus
                                                        de la démarche d’intégration au parcours alternance, la
                                                        démarche de votre convocation au concours d’admission en
                                                        cours du jour ou bien en cours du soir.
                                                    </p>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p style="width: 100%;">
                                                    <strong>
                                                        [1] : il
                                                        est à signaler que le candidat ne peut signer un contrat
                                                        qu’avec une et une seule entreprise partenaire au risque
                                                        d’être exclu du programme en alternance. En particulier,
                                                        tout désistement d’une entreprise au profit d’une autre
                                                        après la signature du contrat d’embauche n’est pas autorisé.
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p style="width: 100%;">
                                                    <strong>
                                                        [2] : Si le
                                                        candidat n'est pas retenu par l'une des entreprises
                                                        partenaires, il doit suivre les étapes du concours
                                                        d'admission s'il désire s'inscrire au cycle ingénieur en
                                                        cours du jour ou bien en cours soir.
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6 mx-auto">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn bg-gradient-primary " data-bs-toggle="modal" data-bs-target="#exampleModalForm">
                                    Subscribe here
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalForm" tabindex="-1" aria-labelledby="exampleModalForm" aria-hidden="true">
                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body p-0">
                                                <div class="card bg-gray-200 shadow border-0 mb-0">
                                                    <div class="card-header text-start">
                                                        <h3 class="font-weight-bolder text-info text-gradient mb-1">Apply here</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        
                                                        <!---->

                                                        <form #f="ngForm">
                                                            <div class="card-body">
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="nom">Nom :</label>
                                                                <div class="input-group mb-4">
                                                                <input class="form-control" placeholder="Nom" aria-label="Nom" type="text" id="nom" name="nom"
                                                                    [(ngModel)]="inscription.user.firstName" required minlength="3">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Prénom</label>
                                                                <div class="input-group mb-4">
                                                                    <input class="form-control" placeholder="prenom" aria-label="prenom" type="text" name="prenom"
                                                                    [(ngModel)]="inscription.user.lastName">
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Email</label>
                                                                <div class="input-group">
                                                                    <input type="email" id="email" name="email" class="form-control" placeholder="xxxxx.xxxxx@xxxx.xxx"
                                                                    [(ngModel)]="inscription.user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Confirmer Email</label>
                                                                <div class="input-group">
                                                                <input name="ConfirmEmail" [(ngModel)]="inscription.user.Confirmemail" #email="ngModel" class="form-control"
                                                                    placeholder="Confirmer Email" aria-label="Confirmer Email" type="email" compare="email" />
                                                                    <div *ngIf="email.errors && (email.dirty || email.touched)">
                                                                    Les adresses e-mail ne correspondent pas.</div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Civilité</label>
                                                                <div class="input-group mb-4">
                                                                <div class="row form-inline">
                                                                    <div class="form-check">
                                                                    <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                                                                        type="radio" name="Civilité" id="Civilité1" />
                                                                    <label class="form-check-label" for="Civilité">Mr</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                    <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                                                                        type="radio" name="Civilité" id="Civilité2" />
                                                                    <label class="form-check-label" for="Civilité">Mme</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                    <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                                                                        type="radio" name="Civilité" id="Civilité3" />
                                                                    <label class="form-check-label" for="Civilité">Mlle</label>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Date de naissance</label>
                                                                <div class="input-group">
                                                                <input name="BD" [(ngModel)]="inscription.user.birthDate" #birthDate="ngModel" type="date"
                                                                    required />
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>CIN</label>
                                                                <div class="input-group mb-4">
                                                                <input class="form-control" aria-label="CIN" type="text" name="cin" [(ngModel)]="inscription.user.cin"
                                                                    pattern="[0-9]{8}">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Lieu de Naissance</label>
                                                                <div class="input-group">
                                                                <input class="form-control" placeholder="Lieu de Naissance" aria-label="Lieu de Naissance"
                                                                    type="text" name="lieuNaissance" [(ngModel)]="inscription.user.LieudeNaissance" required>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Gouvernorat</label>
                                                                <div class="input-group mb-4">
                                                                <select class="form-control" [(ngModel)]="inscription.user.Gouvernorat">
                                                                    <option value="Tunis"> Tunis</option>
                                                                    <option value="Ben Arous"> Ben Arous</option>
                                                                    <option value="Ariana"> Ariana</option>
                                                                    <option value="Manouba"> Manouba</option>
                                                                    <option value="Nabeul"> Nabeul</option>
                                                                    <option value="Zaghouan"> Zaghouan</option>
                                                                    <option value="Bizerte"> Bizerte</option>
                                                                    <option value="Béja"> Béja</option>
                                                                    <option value="Jendouba"> Jendouba</option>
                                                                    <option value="Le Kef"> Le Kef</option>
                                                                    <option value="Siliana"> Siliana</option>
                                                                    <option value="Kairouan"> Kairouan</option>
                                                                    <option value="Kasserine"> Kasserine</option>
                                                                    <option value="Sidi Bouzid"> Sidi Bouzid</option>
                                                                    <option value="Sousse"> Sousse</option>
                                                                    <option value="Monastir"> Monastir</option>
                                                                    <option value="Mahdia"> Mahdia</option>
                                                                    <option value="Sfax"> Sfax</option>
                                                                    <option value="Gabès"> Gabès</option>
                                                                    <option value="Medenine"> Medenine</option>
                                                                    <option value="Tataouine"> Tataouine</option>
                                                                    <option value="Tozeur"> Tozeur</option>
                                                                    <option value="Kebili"> Kebili</option>
                                                                    <option value="Etranger"> test </option>

                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Num Téléphone</label>
                                                                <div class="input-group mb-4">
                                                                <input class="form-control" aria-label="Num Téléphone" [(ngModel)]="inscription.user.phone"
                                                                    type="text">
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Diplôme du baccalauréat</label>
                                                                <div class="input-group mb-4">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                                                    [checked]="!enCours" />
                                                                    <label class="form-check-label" for="flexRadioDefault1">Déjà obtenu</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                                                    [checked]="enCours" />
                                                                    <label class="form-check-label" for="flexRadioDefault2">En cours</label>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Cours Jour / Cours Soir</label>
                                                                <div class="input-group">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3"
                                                                    disabled checked />
                                                                    <label class="form-check-label" for="flexRadioDefault3">Cours Jour</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4"
                                                                    [checked]="!enCours" disabled />
                                                                    <label class="form-check-label" for="flexRadioDefault4">Cours Soir</label>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Nature du baccalauréat</label>
                                                                <div class="input-group mb-4">
                                                                <select class="form-control" required disabled>
                                                                    <option value="E">Bac Etranger</option>
                                                                    <option value="T" selected="selected">
                                                                    Bac Tunisien
                                                                    </option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Section</label>
                                                                <div class="input-group">
                                                                <select class="form-control" required="">
                                                                    <option value="Mathematique">Mathematique</option>
                                                                    <option value="Technique" selected="selected">
                                                                    Technique
                                                                    </option>
                                                                    <option value="Sciences">Sciences</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Année baccalauréat</label>
                                                                <div class="input-group mb-4">
                                                                <input class="form-control" placeholder="yyyy" name="yp" [(ngModel)]="model" ngbDatepicker
                                                                    #d="ngbDatepicker" datepickerMode="year" [value]="currentYear" [disabled]="enCours">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Moyenne baccalauréat</label>
                                                                <div class="input-group">
                                                                <input class="form-control" placeholder="Moyenne baccalauréat " aria-label="Moyenne baccalauréat"
                                                                    type="text" [disabled]="enCours"/>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Niveau d'études atteint</label>
                                                                <div class="input-group mb-4">
                                                                <select id="ContentPlaceHolder1_DropDownList11" class="form-control" required=""
                                                                    [disabled]="enCours">
                                                                    <option selected="selected" value="">bac</option>
                                                                    <option value="">bac+3</option>
                                                                    <option value="">Master</option>
                                                                    <option value="">bac+2</option>
                                                                    <option value="">bac+5</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Type de formation</label>
                                                                <div class="input-group">
                                                                <select class="form-control" required="">
                                                                    <option value="infromatique">infromatique</option>
                                                                    <option value="electrique">electrique</option>
                                                                    <option value="mecanique">mecanique</option>
                                                                    <option value="genie civil">genie civil</option>
                                                                    <option value="physique">physique</option>
                                                                    <option value="economie">economie</option>
                                                                    <option value="gestion">gestion</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Spéacialité souhaité</label>
                                                                <div class="input-group mb-4">
                                                                <select class="form-control" required="">
                                                                    <option value="infromatique">infromatique</option>
                                                                    <option value="electrique">electrique</option>
                                                                    <option value="mecanique">mecanique</option>
                                                                    <option value="genie civil">genie civil</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Niveau d'entrée à ESPRIT</label>
                                                                <div class="input-group">
                                                                <select class="form-control" [value]="" required="" [disabled]="enCours">
                                                                    <option value="1ere année" selected="selected">1ere année</option>
                                                                    <option value="2eme année">2eme année</option>
                                                                    <option value="3eme année infromatique">
                                                                    3eme année infromatique
                                                                    </option>
                                                                    <option value="3eme année genie civil">
                                                                    3eme année genie civil
                                                                    </option>
                                                                    <option value="3eme année electromécanique">
                                                                    3eme année electromécanique
                                                                    </option>
                                                                    <option value="4eme info">4eme info</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!------------------------- recrutement ----------------------------------->
                                                            <!-- <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Curriculum Vitæ (C.V)</label>
                                                                <input type="file" class="form-control" name="cv" (change)="onCvSelected($event)">
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Cover Letter</label>
                                                                <input type="file" class="form-control" name="lm" (change)="onLmSelected($event)">
                                                            </div>
                                                            </div> -->
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-12"><br>
                                                            </div>
                                                            <div class="col-md-12" style="text-align: center;">
                                                                <button type="submit" class="btn bg-gradient-danger w-50"
                                                                (click)="onSumbit()">Send</button>
                                                            </div>
                                                            </div>
                                                            </div>
                                                        </form>

                                                        <!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>
