<app-nav-bar></app-nav-bar>
<header>
    <div class="page-header min-vh-50" style="background-image:
        url(../../assets/Front/img/alternance.png)">
        <span class="mask "></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto text-white text-center">
                    <div class="bg-gradient">
                        <br><br><br><br><br><br><br><br><br>
                        <h2 class="text-dark "></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden" style="height:36px;margin-top:-35px;">
        <div class="w-full absolute bottom-0 start-0 end-0" style="transform:
            scale(2);transform-origin: top center;color:
            #fff;">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
</header>
<!-- ----------------------------------------------------------------- -->
<section class="py-4">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3
            mx-sm-0 mx-1 position-relative">
            <div style="display: flex; justify-content: center; width: 100%;">
                <div class="intro-small">
                    <div class="intro-small__wrapper">
                        <div class="intro-small__container">
                            <div class="intro-small__header">
                                <div style="text-align: center; padding: 30px;
                                    font-family: Arial, sans-serif;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <h1>Alternation Training</h1>
                                                <div class="">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h3>Presentation of the course :</h3>
                                                <div class="">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    ESPRIT offers in addition to the classic
                                                    day or evening classes, the possibility of integrating a work-study program
                                                    to integrate a training by alternation with one of the
                                                    partner companies. The candidates selected in this context
                                                    will benefit from :
                                                </p>
                                                <p style="width: 100%;">
                                                    Successful candidates
                                                    in this framework will benefit from :
                                                </p>
                                                <br>
                                                <ul style="list-style:
                                                    circle; margin-left: 60px; margin-bottom: 30px;">
                                                    <li>
                                                        From a
                                                        4 years of training, alternating between ESPRIT and the partner company
                                                        partner company
                                                    </li>
                                                    <li>
                                                        A contract of employment with the company
                                                        and consequent benefits
                                                    </li>
                                                    <li>
                                                        A coverage of
                                                        training costs by the partner company
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h3>Conditions of registration :</h3>
                                                <div class="sc-kPTPQs bJYkaB">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul style="list-style: circle; margin-left:
                                                    60px; margin-bottom: 30px;">
                                                    <li>
                                                        be selected by one of the
                                                        partner companies.
                                                    </li>
                                                    <li>
                                                        holder of a license
                                                        in the chosen specialty.
                                                    </li>
                                                </ul>
                                                <p style="width:
                                                    100%;">
                                                    The applicant will be contacted by Esprit to finalize the
                                                    the registration process.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h3> Procedure :</h3>
                                                <div class="sc-kPTPQs bJYkaB">
                                                    <hr class="sc-ispOId btZEIK">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul style="list-style: circle; margin-left: 60px;
                                                    margin-bottom: 30px;">
                                                    <li>
                                                        <strong>
                                                            I only want to apply for
                                                            for the engineering cycle in alternating training:
                                                        </strong>
                                                        <div class="sc-kPTPQs bJYkaB">
                                                            <hr class="sc-ispOId btZEIK">
                                                        </div>
                                                    </li>
                                                    <p style="width: 100%;">
                                                        By registering your application via
                                                        this process, your admission to the ESPRIT engineering program
                                                        depends on the company's decision: If you are selected
                                                        you will be contacted by the school to continue the
                                                        admission process and possibly your registration to the
                                                        course of the training by alternation.
                                                    </p>
                                                    <li>
                                                        <strong>
                                                            I
                                                            want to apply for the engineering cycle in sandwich training and for the
                                                            and for the entrance exam in daytime and evening classes
                                                            and in evening classes:
                                                        </strong>
                                                        <div class="sc-kPTPQs
                                                            bJYkaB">
                                                            <hr class="sc-ispOId btZEIK">
                                                        </div>
                                                    </li>
                                                    <p style="width: 100%;">
                                                        This second formula is of interest to
                                                        candidate wishing to enter the engineering cycle, regardless of the company's
                                                        the company's decision. When you register your application
                                                        application, you will receive an email indicating, in addition to the
                                                        the process of integration into the sandwich course, the process of
                                                        your invitation to the entrance exam in the course of the day
                                                        day or evening classes.
                                                    </p>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p style="width: 100%;">
                                                    <strong>
                                                        [1] : it
                                                        it should be noted that the candidate can only sign a contract with one
                                                        with one and only one partner company at the risk of being
                                                        of being excluded from the work-study program. In particular
                                                        any withdrawal by a company in favor of another
                                                        after signing the contract is not allowed.
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p style="width: 100%;">
                                                    <strong>
                                                        [2]: If the
                                                        candidate is not selected by one of the partner companies
                                                        companies, he/she must follow the steps of the competitive
                                                        if he/she wishes to enroll in the engineering cycle in
                                                        day or evening classes.
                                                    </strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-6 mx-auto">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn bg-gradient-primary " data-bs-toggle="modal" data-bs-target="#exampleModalForm">
                                    Subscribe here
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalForm" tabindex="-1" aria-labelledby="exampleModalForm" aria-hidden="true">
                                    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body p-0">
                                                <div class="card bg-gray-200 shadow border-0 mb-0">
                                                    <div class="card-header text-start">
                                                        <h3 class="font-weight-bolder text-info text-gradient mb-1">Apply here</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        
                                                        <!---->

                                                        <form #f="ngForm">
                                                            <div class="card-body">
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                <label for="nom">First Name :</label>
                                                                <div class="input-group mb-4">
                                                                    <input class="form-control" placeholder="Nom" aria-label="firstName" type="text" id="firstName" name="firstName"
                                                                    [(ngModel)]="inscription.user.firstName" required minlength="3">
                                                                </div>
                                                                </div>
                                                                <div class="col-md-6 ps-2">
                                                                <label>Last Name</label>
                                                                    <div class="input-group mb-4">
                                                                    <input class="form-control" placeholder="lastName" aria-label="lastName" type="text" id="lastName" name="lastName"
                                                                        [(ngModel)]="inscription.user.lastName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                <label>Email</label>
                                                                    <div class="input-group">
                                                                    <input class="form-control" placeholder="xxxxx.xxxxx@xxxx.xxx" aria-label="email" type="email" id="email" name="email" 
                                                                        [(ngModel)]="inscription.user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-2">
                                                                <label>Confirm Email</label>
                                                                <div class="input-group">
                                                                    <input name="ConfirmEmail" [(ngModel)]="inscription.user.Confirmemail" #email="ngModel" class="form-control"
                                                                    placeholder="Confirmer Email" aria-label="Confirmer Email" type="email" compare="email" />
                                                                    <div *ngIf="email.errors && (email.dirty || email.touched)">
                                                                        Les adresses e-mail ne correspondent pas.
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                <label>Civility</label>
                                                                <div class="input-group mb-4">
                                                                    <div class="row form-inline">
                                                                    <div class="form-check">
                                                                        <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                                                                        type="radio" name="Civilité" id="Civilité1" />
                                                                        <label class="form-check-label" for="Civilité">Mr</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                                                                        type="radio" name="Civilité" id="Civilité2" />
                                                                        <label class="form-check-label" for="Civilité">Mme</label>
                                                                    </div>
                                                                    <div class="form-check">
                                                                        <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                                                                        type="radio" name="Civilité" id="Civilité3" />
                                                                        <label class="form-check-label" for="Civilité">Miss</label>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-md-6 ps-2">
                                                                <label>Birth Date</label>
                                                                <div class="input-group">
                                                                    <input aria-label="birthDate" type="date" id="birthDate" name="birthDate" [(ngModel)]="inscription.user.birthDate" required />
                                                                </div>
                                                                </div>
                                                            </div> 
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                <label>CIN</label>
                                                                <div class="input-group mb-4">
                                                                    <input class="form-control" placeholder="cin" aria-label="cin" id="cin" type="text" name="cin" [(ngModel)]="inscription.user.cin"
                                                                    pattern="[0-9]{8}">
                                                                </div>
                                                                </div>
                                                                <div class="col-md-6 ps-2">
                                                                <label>Place of birth</label>
                                                                <div class="input-group">
                                                                    <input class="form-control" placeholder="Place of birth" aria-label="LieudeNaissance" type="text" id="LieudeNaissance" name="LieudeNaissance"
                                                                    [(ngModel)]="inscription.user.LieudeNaissance" required>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                <label>Gouvernorat</label>
                                                                <div class="input-group mb-4">
                                                                    <select class="form-control" aria-label="address" type="text" id="address" name="address" [(ngModel)]="inscription.user.address">
                                                                    <option value="Ariana"> Ariana</option>
                                                                    <option value="Béja"> Béja</option>
                                                                    <option value="Ben Arous"> Ben Arous</option>
                                                                    <option value="Bizerte"> Bizerte</option>
                                                                    <option value="Gabès"> Gabès</option>
                                                                    <option value="Jendouba"> Jendouba</option>
                                                                    <option value="Kairouan"> Kairouan</option>
                                                                    <option value="Kasserine"> Kasserine</option>
                                                                    <option value="Kebili"> Kebili</option>
                                                                    <option value="Le Kef"> Le Kef</option>
                                                                    <option value="Mahdia"> Mahdia</option>
                                                                    <option value="Manouba"> Manouba</option>
                                                                    <option value="Medenine"> Medenine</option>
                                                                    <option value="Monastir"> Monastir</option>
                                                                    <option value="Nabeul"> Nabeul</option>
                                                                    <option value="Sfax"> Sfax</option>
                                                                    <option value="Siliana"> Siliana</option>
                                                                    <option value="Sidi Bouzid"> Sidi Bouzid</option>
                                                                    <option value="Sousse"> Sousse</option>
                                                                    <option value="Tataouine"> Tataouine</option>
                                                                    <option value="Tozeur"> Tozeur</option>
                                                                    <option value="Tunis"> Tunis</option>
                                                                    <option value="Zaghouan"> Zaghouan</option>
                                                                    </select>
                                                                </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                <label>Phone Number</label>
                                                                <div class="input-group mb-4">
                                                                    <input class="form-control" aria-label="phone" type="number" id="phone" name="phone"  [(ngModel)]="inscription.user.phone">
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                <label>Diploma of the Baccalaureate</label>
                                                                    <div class="input-group mb-4">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                                                        checked />
                                                                        <label class="form-check-label" for="flexRadioDefault1">Already obtained</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                                                        disabled />
                                                                        <label class="form-check-label" for="flexRadioDefault2">In progress</label>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 ps-2">
                                                                <label>Day classes / Evening classes</label>
                                                                <div class="input-group">
                                                                    <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3"
                                                                        disabled checked />
                                                                    <label class="form-check-label" for="flexRadioDefault3">Day classes</label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4"
                                                                        disabled />
                                                                    <label class="form-check-label" for="flexRadioDefault4">Evening classes</label>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Nature du baccalauréat</label>
                                                                <div class="input-group mb-4">
                                                                <select class="form-control" required disabled>
                                                                    <option value="E">Bac Etranger</option>
                                                                    <option value="T" selected="selected">
                                                                    Bac Tunisien
                                                                    </option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Section</label>
                                                                <div class="input-group">
                                                                <select class="form-control" required="">
                                                                    <option value="Mathematique">Mathematique</option>
                                                                    <option value="Technique" selected="selected">
                                                                    Technique
                                                                    </option>
                                                                    <option value="Sciences">Sciences</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Année baccalauréat</label>
                                                                <div class="input-group mb-4">
                                                                <input class="form-control" placeholder="yyyy" name="yp" [(ngModel)]="model" ngbDatepicker
                                                                    #d="ngbDatepicker" datepickerMode="year" [value]="currentYear" [disabled]="enCours">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Moyenne baccalauréat</label>
                                                                <div class="input-group">
                                                                <input class="form-control" placeholder="Moyenne baccalauréat " aria-label="Moyenne baccalauréat"
                                                                    type="text" [disabled]="enCours"/>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Niveau d'études atteint</label>
                                                                <div class="input-group mb-4">
                                                                <select id="ContentPlaceHolder1_DropDownList11" class="form-control" required=""
                                                                    [disabled]="enCours">
                                                                    <option selected="selected" value="">bac</option>
                                                                    <option value="">bac+3</option>
                                                                    <option value="">Master</option>
                                                                    <option value="">bac+2</option>
                                                                    <option value="">bac+5</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Type de formation</label>
                                                                <div class="input-group">
                                                                <select class="form-control" required="">
                                                                    <option value="infromatique">infromatique</option>
                                                                    <option value="electrique">electrique</option>
                                                                    <option value="mecanique">mecanique</option>
                                                                    <option value="genie civil">genie civil</option>
                                                                    <option value="physique">physique</option>
                                                                    <option value="economie">economie</option>
                                                                    <option value="gestion">gestion</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row">
                                                            <div class="col-md-6">
                                                                <label>Spéacialité souhaité</label>
                                                                <div class="input-group mb-4">
                                                                <select class="form-control" required="">
                                                                    <option value="infromatique">infromatique</option>
                                                                    <option value="electrique">electrique</option>
                                                                    <option value="mecanique">mecanique</option>
                                                                    <option value="genie civil">genie civil</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 ps-2">
                                                                <label>Niveau d'entrée à ESPRIT</label>
                                                                <div class="input-group">
                                                                <select class="form-control" [value]="" required="" [disabled]="enCours">
                                                                    <option value="1ere année" selected="selected">1ere année</option>
                                                                    <option value="2eme année">2eme année</option>
                                                                    <option value="3eme année infromatique">
                                                                    3eme année infromatique
                                                                    </option>
                                                                    <option value="3eme année genie civil">
                                                                    3eme année genie civil
                                                                    </option>
                                                                    <option value="3eme année electromécanique">
                                                                    3eme année electromécanique
                                                                    </option>
                                                                    <option value="4eme info">4eme info</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <!----------------------------------------------------------------------->
                                                            <div class="row text-center">
                                                                <div >
                                                                    <button type="submit" class="btn bg-gradient-danger " (click)="onSumbit()">Send</button>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </form>

                                                        <!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>
