<app-nav-bar></app-nav-bar>
<header>
    <div class="page-header min-vh-50" style="background-image:
        url(../../assets/Front/img/admission.jpg)">
        <span class="mask "></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto text-white text-center">
                    <div class="bg-gradient">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2 class="text-dark "></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden" style="height:36px;margin-top:-35px;">
        <div class="w-full absolute bottom-0 start-0 end-0" style="transform:
            scale(2);transform-origin: top center;color:
            #fff;">
            <svg viewBox="0 0 2880 48" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
                    fill="currentColor"></path>
            </svg>
        </div>
    </div>
</header>
<!-- ----------------------------------------------------------------- -->
<section class="py-4">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3
            mx-sm-0 mx-1 position-relative">
            <div style="display: flex; justify-content: center; width: 100%;">
                <div class="intro-small">
                    <div class="intro-small__wrapper">
                        <div class="intro-small__container">
                            <div class="intro-small__header">
                                <div style="text-align: center; padding: 30px;
                                    font-family: Arial, sans-serif;">
                                    <div>
                                        <i class="fas fa-university"
                                            style="font-size:50px;padding-bottom:
                                            3%; color: red;"></i>
                                        <h1 class="bara" style="font-size: 36px;
                                            margin-bottom: 10px;">Admission</h1>
                                    </div>
                                    <div>
                                        <h2 style="font-size: 24px;
                                            margin-bottom:
                                            20px;">
                                            The first step towards registering
                                            at Esprit!
                                        </h2>
                                        <p style="font-size: 18px; line-height:
                                            1.5;">
                                            After submitting your admission
                                            application online, you will be able
                                            to easily track its status.
                                        </p>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div style="display: flex; justify-content:
                                        center;">
                                        <button [routerLink]="['/addTunDay']"
                                            type="button"
                                            style="background-color:
                                            #d3d3d3; color: #fff; border: none;
                                            padding: 10px 20px; font-size: 16px;
                                            border-radius: 5px; box-shadow: 0px
                                            2px
                                            5px gray; background-color: #dc3545;
                                            margin-right: 20px;">
                                            Day courses (Tunisians)
                                        </button>
                                        <button [routerLink]="['/addForeign']"
                                            type="button"
                                            style="background-color:
                                            #d3d3d3; color: #fff; border: none;
                                            padding: 10px 20px; font-size: 16px;
                                            border-radius: 5px; box-shadow: 0px
                                            2px
                                            5px gray; background-color: #dc3545;
                                            margin-right: 20px;">
                                            Day courses (International)
                                        </button>
                                        <button [routerLink]="['/addTunNight']"
                                            type="button"
                                            style="background-color:
                                            #d3d3d3; color: #fff; border: none;
                                            padding: 10px 20px; font-size: 16px;
                                            border-radius: 5px; box-shadow: 0px
                                            2px
                                            5px gray; background-color: #dc3545;
                                            margin-right: 20px;">
                                            Evening courses (Tunisians)
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3
            mx-sm-0 mx-1 position-relative">
            <div style="display: flex; justify-content: center; width: 100%;">
                <div class="intro-small">
                    <div class="intro-small__wrapper">
                        <div class="intro-small__container">
                            <div class="intro-small__header">
                                <div style="text-align: center; padding: 30px;
                                    font-family: Arial, sans-serif;">
                                    <div>
                                        <i class="fas fa-graduation-cap"
                                            style="font-size:50px;padding-bottom:
                                            3%; color: red;"></i>
                                        <h1 class="bara" style="font-size: 36px;
                                            margin-bottom: 10px;">
                                            ADMISSION
                                            REQUIREMENTS
                                        </h1>
                                    </div>
                                    <div>
                                        <h2 style="font-size: 24px;
                                            margin-bottom:
                                            20px;">
                                            The prerequisites for each of the
                                            programs.
                                        </h2>
                                        <p style="font-size: 18px; line-height:
                                            1.5;">
                                            Please review the required admission
                                            requirements for our programs.
                                        </p>
                                    </div>
                                    <div style="display: flex; justify-content:
                                        center;">
                                        <div class="col-sm-3 col-6 mx-auto">
                                            <!-- Button trigger modal -->
                                            <button
                                                type="button"
                                                class="btn
                                                bg-gradient-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exampleModalLong">
                                                Learn more.
                                            </button>
                                            <!-- Modal -->
                                            <div
                                                class="modal fade"
                                                id="exampleModalLong"
                                                tabindex="-1"
                                                aria-labelledby="exampleModalLong"
                                                aria-hidden="true">
                                                <div class="modal-dialog
                                                    modal-danger
                                                    modal-dialog-centered
                                                    modal-" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body
                                                            p-0">
                                                            <div
                                                                class="modal-content">
                                                                <div
                                                                    class="modal-header">
                                                                    <h5
                                                                        class="modal-title"
                                                                        id="exampleModalLongTitle">
                                                                        To
                                                                        register
                                                                        for the
                                                                        competition:
                                                                    </h5>
                                                                    <button
                                                                        type="button"
                                                                        class="btn
                                                                        btn-link
                                                                        text-dark
                                                                        my-1"
                                                                        data-bs-dismiss="modal">
                                                                        <i
                                                                            class="fas
                                                                            fa-times"></i>
                                                                    </button>
                                                                </div>
                                                                <div
                                                                    class="modal-body">
                                                                    <h6
                                                                        style="text-align:
                                                                        left;">
                                                                        For
                                                                        1st
                                                                        year:
                                                                    </h6>
                                                                    <p
                                                                        style="text-align:
                                                                        left;">
                                                                        Hold
                                                                        a
                                                                        scientific,
                                                                        economic,
                                                                        or
                                                                        technical
                                                                        baccalaureate.
                                                                    </p>
                                                                    <br>
                                                                    <p
                                                                        style="text-align:
                                                                        left;">
                                                                        For
                                                                        2nd
                                                                        year:
                                                                        <br>
                                                                        <br>
                                                                        Hold a
                                                                        certificate
                                                                        of
                                                                        success
                                                                        in the
                                                                        1st year
                                                                        of
                                                                        preparatory
                                                                        classes
                                                                        or a
                                                                        certificate
                                                                        of
                                                                        success
                                                                        in the
                                                                        1st year
                                                                        of an
                                                                        engineering
                                                                        school
                                                                        (integrated
                                                                        preparatory
                                                                        classes).
                                                                    </p>
                                                                    <br>
                                                                    <p
                                                                        style="text-align:
                                                                        left;">
                                                                        For
                                                                        3rd
                                                                        year:
                                                                        <br>
                                                                        <br>
                                                                        Hold a
                                                                        scientific
                                                                        degree
                                                                        or be
                                                                        admitted
                                                                        to the
                                                                        national
                                                                        engineering
                                                                        competition.
                                                                    </p>
                                                                    <br>
                                                                    <p
                                                                        style="text-align:
                                                                        left;">
                                                                        For
                                                                        4th
                                                                        year:
                                                                        <br>
                                                                        <br>
                                                                        Hold a
                                                                        scientific
                                                                        or
                                                                        technical
                                                                        master's
                                                                        degree
                                                                        (M1) in
                                                                        the
                                                                        field of
                                                                        specialty.
                                                                    </p>
                                                                    <br>
                                                                    <p
                                                                        style="text-align:
                                                                        left;">
                                                                        For
                                                                        evening
                                                                        courses:
                                                                        <br>
                                                                        <br>
                                                                        Hold a
                                                                        scientific
                                                                        or
                                                                        technical
                                                                        bachelor's
                                                                        degree
                                                                        (4 years
                                                                        of
                                                                        study).
                                                                    </p>
                                                                </div>
                                                                <div
                                                                    class="modal-footer">
                                                                    <button
                                                                        type="button"
                                                                        class="btn
                                                                        bg-gradient-primary"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3
            mx-sm-0 mx-1 position-relative">
            <div style="display: flex; justify-content: center; width: 100%;">
                <div class="intro-small">
                    <div class="intro-small__wrapper">
                        <div class="intro-small__container">
                            <div class="intro-small__header">
                                <div style="text-align: center; padding: 30px;
                                    font-family: Arial, sans-serif;">
                                    <div>
                                        <i class="fas fa-laptop"
                                            style="font-size:50px;padding-bottom:
                                            3%;color: red;"></i>
                                        <h1 class="bara" style="font-size: 36px;
                                            margin-bottom: 10px;">
                                           Apprenticeship training.
                                        </h1>
                                    </div>
                                    <div>
                                        <h2 style="font-size: 24px;
                                            margin-bottom:
                                            20px;">
                                            Your next big adventure.

                                        </h2>
                                        <p style="font-size: 18px; line-height:
                                            1.5;">
                                            Hold a bachelor's degree in computer science or a related field.

                                        </p>
                                    </div>
                                    <div style="display: flex; justify-content:
                                        center;">
                                        <button type="button"
                                            style="background-color:
                                            #d3d3d3; color: #fff; border: none;
                                            padding:
                                            10px 20px; font-size: 16px;
                                            border-radius:
                                            5px; box-shadow: 0px 2px 5px gray;
                                            background-color: #dc3545;
                                            margin-right:
                                            20px;" routerLink="/alternance">
                                            learn more
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</section>
<app-footer></app-footer>
