<app-nav-bar></app-nav-bar>

<app-top-admission></app-top-admission>
  <!------------------------------------------------>
  
  <div  style="display: flex; justify-content: center; width: 100%;">
    <div class="intro-small">
      <div class="intro-small__wrapper" >
        <div class="intro-small__container">
          <div class="intro-small__header">
            <div  class="card">
              
              <div style="text-align: center; padding: 30px; font-family: Arial, sans-serif;">
                <div>
                  <i class="fas fa-university" style="font-size:50px;"></i>
  
                  <h1  class="bara" style="font-size: 36px; margin-bottom: 10px;">Admission</h1>
                </div>
                <div>
                  <h2 style="font-size: 24px; margin-bottom: 20px;">La première étape vers l’inscription à Esprit !</h2>
                  <p style="font-size: 18px; line-height: 1.5;">Après avoir soumis votre demande d’admission en ligne, vous pourrez facilement en suivre l’état.</p>
                </div>
                <br><br><br>
                <div style="display: flex; justify-content: center;">
                  <button [routerLink]="['/addTunDay']" type="button" style="background-color: #d3d3d3; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; box-shadow: 0px 2px 5px gray; background-color: #dc3545; margin-right: 20px;">Cours du jour (Tunisiens)</button>
                  <button [routerLink]="['/addTunNight']" type="button" style="background-color: #d3d3d3; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; box-shadow: 0px 2px 5px gray; background-color: #dc3545; margin-right: 20px;">Cours du jour (Internationaux)</button>
                  <button [routerLink]="['/addForeign']" type="button" style="background-color: #d3d3d3; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; box-shadow: 0px 2px 5px gray; background-color: #dc3545; margin-right: 20px;">Cours du soir (Tunisiens)</button>
                </div>
              </div>
            </div>
          </div>
          <div class="intro__body">
            <p class="text-paragraph"></p>
            <ul class="list"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!------------------------------------------------>
  
  <br> <br> <br> <br> <br> 
    <div  style="display: flex; justify-content: center; width: 100%;">
    
    <div class="intro-small">
     
        <div class="intro-small__container">
          <div class="intro-small__header">
            <div>
              
              <div style="text-align: center; padding: 30px; font-family: Arial, sans-serif;">
                <div>
                  <i class="fas fa-graduation-cap" style="font-size:50px;"></i>
  
                  <h1  class="bara" style="font-size: 36px; margin-bottom: 10px;">CONDITIONS D’ADMISSION</h1>
                </div>
                <div>
                  <h2 style="font-size: 24px; margin-bottom: 20px;">Les prérequis de chacun des programmes</h2>
                  <p style="font-size: 18px; line-height: 1.5;">Prenez connaissance des exigences requises pour l’admission à nos programmes.</p>
                </div>
                <div style="display: flex; justify-content: center;">
                  <button type="button" style="background-color: #d3d3d3; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; box-shadow: 0px 2px 5px gray; background-color: #dc3545; margin-right: 20px;">En savoir plus </button>
                  
                </div>
                
              </div>
            </div>
          </div>
          <div class="intro__body">
            <p class="text-paragraph"></p>
            <ul class="list"></ul>
          </div>
        </div>
      </div>
    </div>
  <br> <br> <br> <br> <br> <br> 
  <!------------------------------------------------>
  <div  style="display: flex; justify-content: center; width: 100%;">
    
    <div class="intro-small">
     
        <div class="intro-small__container">
          <div class="intro-small__header">
            <div>
              
              <div style="text-align: center; padding: 30px; font-family: Arial, sans-serif;">
                <div>
                  <i class="fas fa-laptop" style="font-size:50px;"></i>
  
  
                  <h1  class="bara" style="font-size: 36px; margin-bottom: 10px;">Formation en Alternance</h1>
                </div>
                <div>
                  <h2 style="font-size: 24px; margin-bottom: 20px;">Votre prochaine grande aventure</h2>
                  <p style="font-size: 18px; line-height: 1.5;">Être titulaire d'une licence en infromatique ou dans une spécialité apparentée</p>
                </div>
                <div style="display: flex; justify-content: center;">
                  <button type="button" style="background-color: #d3d3d3; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; box-shadow: 0px 2px 5px gray; background-color: #dc3545; margin-right: 20px;">En savoir plus </button>
                  
                </div>
                
              </div>
            </div>
          </div>
          <div class="intro__body">
            <p class="text-paragraph"></p>
            <ul class="list"></ul>
          </div>
        </div>
      </div>
    </div>
    <br> <br> <br> <br> 
  