<li class="nav-item nav-profile border-bottom">
    <a href="#" class="nav-link flex-column">
        <div class="nav-profile-image">
            <img src="../../../assets/Back/images/faces/face1.jpg" alt="profile" />
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
            <span class="font-weight-semibold mb-1 mt-2 text-center">ESPRIT</span>
        </div>
    </a>
</li>
<li class="nav-item pt-3">
    <a class="nav-link d-block" href="index.html">
        <img class="sidebar-brand-logo" src="../../../assets/Front/img/curved-images/logo.png" alt="" />
    </a>
</li>
<li class="pt-2 pb-1">
    <span class="nav-item-head">Template Pages</span>
</li>
<li class="nav-item">
    <a class="nav-link" href="./faqBack">
        <i class="mdi mdi-compass-outline menu-icon"></i>
        <span class="menu-title">FAQ</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="./Trainingback">
        <i class="mdi mdi-compass-outline menu-icon"></i>
        <span class="menu-title">Training</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="./ExamBack">
        <i class="mdi mdi-compass-outline menu-icon"></i>
        <span class="menu-title">Exam</span>
    </a>
</li>