<div id="hotblocks_item-248" class="hotblocks_item hid-248 hotblocks-item boite-video">
    <div class="boiteVideo Blanc vertical">
        <div class="container-fluid">
            <div class="video-bg">
                <div class="row -vertical">
                    <div class="col-md-12">
                        <h2 class="avec-barres">
                            <span>Découvrez la formation à distance à ESPRIT</span>
                        </h2>
                    </div>
                    <div class="col-md-12">
                        <div class="video ">
                            <figure>
                                <img src="https://www.distance.ulaval.ca/sites/default/files/image_21.png">
                            </figure>
                            <div class="video-iframe">
                                <iframe
                                    width="560"
                                    height="315"
                                    src="https://www.youtube.com/embed/KWJIEfc8aoY"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>