<article role="article" about="/fr/faq/covid-19-comment-preparer-ma-rentree-2021-en-france" class="node node--type-faq node--view-mode-search-result">
    <a href="https://www.campusfrance.org/fr/faq/covid-19-comment-preparer-ma-rentree-2021-en-france" rel="bookmark" title="COVID-19 : Comment préparer ma rentrée 2021 en France ? ">
        <div class="node__content">
            <div class="left">
                <div class="field field--name-field-publics-cibles field--type-entity-reference field--label-hidden field__items" >
                    <div class="field__item" style="color: black;">AAAAA
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="top" style="background-color: #EB2F2F;">
                    <div style="background-color: #F87777;">Question</div>
                    <div style="background-color: #EB2F2F;" class="field field--name-field-question field--type-string-long field--label-hidden field__item">
                        <span>COVID-19 : Comment préparer ma rentrée 2021 en France ?
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>