<app-nav-bar-front></app-nav-bar-front>
<head>
    <link href="/assets/Front/css/1.css" rel="stylesheet">
    <link href="/assets/Front/css/2.css" rel="stylesheet">
    <link href="/assets/Front/css/3.css" rel="stylesheet">
    <link href="/assets/Front/css/4.css" rel="stylesheet">
    <link href="/assets/Front/css/5.css?" rel="stylesheet">
    <link href="/assets/Front/css/6.css" rel="stylesheet">
    <link href="/assets/Front/css/7.css?" rel="stylesheet">
</head>
<div class="region region-highlighted">
    <div id="block-campussearchfaq" class="block block-campus-search
        block-campus-search-faq">
        <h1 class="title" style="color: white;">La FAQ d'ESPRIT</h1>
        <div class="under-title">
            Comment pouvons nous vous aider ?
        </div>
        <form
            class="campus-search-faq-form"
            data-drupal-selector="campus-search-faq-form"
            role="search"
            action="https://www.campusfrance.org/fr/faq/public/chercheurs-3/theme/341/theme/choose-france-828/theme/sante-370"
            method="get"
            id="campus-search-faq-form"
            accept-charset="UTF-8">
            <div class="js-form-item form-item js-form-type-search
                form-type-search js-form-item-text form-item-text">
                <label for="edit-text--2">Rechercher</label>
                <input
                    placeholder="Entrez un mot clé ici"
                    data-drupal-selector="edit-text"
                    type="search"
                    id="edit-text--2"
                    name="text"
                    value=""
                    size="60"
                    maxlength="128"
                    class="form-search">
            </div>
            <div data-drupal-selector="ows-edit-actions" class="form-actions
                js-form-wrapper form-wrapper" id="ows-edit-actions">
                <input
                    data-drupal-selector="ows-edit-submit"
                    type="submit"
                    id="ows-edit-submit"
                    value="Rechercher"
                    class="button js-form-submit form-submit">
            </div>
        </form>
    </div>
</div>
<div class="region region-help">
    <div class="sidebar-main-container">
        <article >
            <div class="node__content">
                <div class="header">
                    <div >
                        <h1>COVID-19 : Comment préparer ma rentrée 2021 en France ?</h1>
                    </div>
                </div>
                <div class="introduction">
                    <div class="public-cible">Étudiants</div>
                </div>
                <div class="content">
                    <div class="clearfix text-formatted
                        field field--name-field-reponse
                        field--type-text-long
                        field--label-hidden
                        field__item">
                        <p>
                            Pour vous aidez
                            à préparer votre rentrée
                            universitaire en France et
                            répondre à vos questions sur
                            les mesures sanitaires,
                            Campus France vous propose
                            une FAQ spéciale Rentrée
                            2021 et Covid-19.
                        </p>
                        <p>Consultez la FAQ :
                            <a
                                href="https://www.campusfrance.org/fr/faq-rentree-2021-et-covid-19"
                                target="_blank">
                                Rentrée
                                2021 et Covid-19
                            </a>
                        </p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
