<app-nav-bar-front></app-nav-bar-front>
<head>
  <link href="/assets/Front/css/1.css" rel="stylesheet" />
  <link href="/assets/Front/css/2.css" rel="stylesheet" />
  <link href="/assets/Front/css/3.css" rel="stylesheet" />
  <link href="/assets/Front/css/4.css" rel="stylesheet" />
  <link href="/assets/Front/css/5.css?" rel="stylesheet" />
  <link href="/assets/Front/css/6.css" rel="stylesheet" />
  <link href="/assets/Front/css/7.css?" rel="stylesheet" />
</head>



<div class="region region-highlighted">
    <div id="block-campussearchfaq" class="block block-campus-search block-campus-search-faq">
        <h1 class="title" style="color: white;">La FAQ d'ESPRIT</h1>
        <div class="under-title">Comment pouvons nous vous aider ?
        </div>
        <form class="campus-search-faq-form" data-drupal-selector="campus-search-faq-form" role="search" action="https://www.campusfrance.org/fr/faq/public/chercheurs-3/theme/341/theme/choose-france-828/theme/sante-370" method="get" id="campus-search-faq-form" accept-charset="UTF-8">
            <div
                class="js-form-item form-item js-form-type-search form-type-search js-form-item-text form-item-text"
            >
                <label for="edit-text--2">Rechercher</label>
                <input
                placeholder="Entrez un mot clé ici"
                data-drupal-selector="edit-text"
                type="search"
                id="edit-text--2"
                name="text"
                value=""
                size="60"
                maxlength="128"
                class="form-search"
                />
            </div>
            <div data-drupal-selector="ows-edit-actions" class="form-actions js-form-wrapper form-wrapper" id="ows-edit-actions">
                <input data-drupal-selector="ows-edit-submit" type="submit"
                id="ows-edit-submit"
                value="Rechercher"
                class="button js-form-submit form-submit"
                />
            </div>
        </form>
    </div>
</div>


<div class="region region-help">
    <div class="sidebar-main-container">
        <aside class="layout-sidebar" role="complementary">
        <div class="region region-sidebar">
            <div class="mobile-search">
                <p>Affiner</p>
            </div>
            <div class="facet-active block-facet--links block block-facets block-facet-blocktheme-faq" id="block-theme-faq">
                <h2 style="background-color: #F31111;">Thème</h2>
                <div class="facets-widget-links">
                <ul data-drupal-facet-id="theme_faq" data-drupal-facet-alias="theme" class="facet-active js-facets-links item-list__links js-facets-widget" >
                    <!-- <li class="facet-item" *ngFor="let t of [1,2,3],let p=index"> -->
                    <li class="facet-item" >
                        <!-- <app-topic [topic]="t" (viewTopics)="viewTopics($event)"></app-topic> -->
                        <a href="" rel="nofollow" data-drupal-facet-item-id="theme-346" data-drupal-facet-item-value="346" data-drupal-facet-item-count="7">
                            <span class="facet-item__value" style="color: black;">
                                Bourse et Financement
                            </span>
                        </a>
                    </li>
                    <li class="facet-item" >
                        <!-- <app-topic [topic]="t" (viewTopics)="viewTopics($event)"></app-topic> -->
                        <a href="" rel="nofollow" data-drupal-facet-item-id="theme-346" data-drupal-facet-item-value="346" data-drupal-facet-item-count="7">
                            <span class="facet-item__value" style="color: black;">
                                Demarches administratives
                            </span>
                        </a>
                    </li>
                    <li class="facet-item" >
                        <!-- <app-topic [topic]="t" (viewTopics)="viewTopics($event)"></app-topic> -->
                        <a href="" rel="nofollow" data-drupal-facet-item-id="theme-346" data-drupal-facet-item-value="346" data-drupal-facet-item-count="7">
                            <span class="facet-item__value" style="color: black;">
                                Diplomes
                            </span>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
        </aside>
        <main role="main">
            <a id="main-content" tabindex="-1"></a>
            <div class="layout-content">
                <div class="region region-content">
                    <div data-drupal-messages-fallback="" class="hidden"></div>
                    <div id="block-campus-content" class="block block-system block-system-main-block">
                        <div class="views-element-container">
                            <div class="view view-faq view-id-faq view-display-id-recherche_faq js-view-dom-id-4a63c10ecc4954a6d4e67a4d6a50d5712223a47b8edffe30bfc81a5a8ccc0364">
                                <div class="view-content">
                                    <!-- <div class="views-row" *ngFor="let q of [1,2],let p=index"> -->
                                    <div class="views-row">
                                        <!-- <app-question-faq></app-question-faq> -->
                                        <article role="article" about="" class="node node--type-faq node--view-mode-search-result">
                                            <a href="./reponseFAQ" rel="bookmark">
                                                <div class="node__content">
                                                    <div class="left">
                                                        <div class="field field--name-field-publics-cibles field--type-entity-reference field--label-hidden field__items" >
                                                            <div class="field__item" style="color: black;">Student 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="top" style="background-color: #EB2F2F;">
                                                            <div style="background-color: #F87777;">Question</div>
                                                            <div style="background-color: #EB2F2F;" class="field field--name-field-question field--type-string-long field--label-hidden field__item">
                                                                <span>#COVID-19 : Comment préparer ma rentrée 2021 en France ?
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="views-row">
                                        <!-- <app-question-faq></app-question-faq> -->
                                        <article role="article"  class="node node--type-faq node--view-mode-search-result">
                                            <a href="" rel="bookmark">
                                                <div class="node__content">
                                                    <div class="left">
                                                        <div class="field field--name-field-publics-cibles field--type-entity-reference field--label-hidden field__items" >
                                                            <div class="field__item" style="color: black;">Student 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="top" style="background-color: #EB2F2F;">
                                                            <div style="background-color: #F87777;">Question</div>
                                                            <div style="background-color: #EB2F2F;" class="field field--name-field-question field--type-string-long field--label-hidden field__item">
                                                                <span>#Quels sont les critères d’admission ?
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="views-row">
                                        <!-- <app-question-faq></app-question-faq> -->
                                        <article role="article"  class="node node--type-faq node--view-mode-search-result">
                                            <a href="" rel="bookmark" >
                                                <div class="node__content">
                                                    <div class="left">
                                                        <div class="field field--name-field-publics-cibles field--type-entity-reference field--label-hidden field__items" >
                                                            <div class="field__item" style="color: black;">Student 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="top" style="background-color: #EB2F2F;">
                                                            <div style="background-color: #F87777;">Question</div>
                                                            <div style="background-color: #EB2F2F;" class="field field--name-field-question field--type-string-long field--label-hidden field__item">
                                                                <span>#Quelles sont les dates de l’année universitaire ?
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="views-row">
                                        <!-- <app-question-faq></app-question-faq> -->
                                        <article role="article" class="node node--type-faq node--view-mode-search-result">
                                            <a href="" rel="bookmark">
                                                <div class="node__content">
                                                    <div class="left">
                                                        <div class="field field--name-field-publics-cibles field--type-entity-reference field--label-hidden field__items" >
                                                            <div class="field__item" style="color: black;">Student 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="right">
                                                        <div class="top" style="background-color: #EB2F2F;">
                                                            <div style="background-color: #F87777;">Question</div>
                                                            <div style="background-color: #EB2F2F;" class="field field--name-field-question field--type-string-long field--label-hidden field__item">
                                                                <span>#Combien coûtent les études en Tunisie ?
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<br><br><br>
<app-footer></app-footer>