<app-nav-bar></app-nav-bar>

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="
      background-image: url('../../assets/Front/img/banniere.png');
    ">
    <div class="container">
      <br /><br /><br /><br />
      <div class="row">
        <div class="text-center mx-auto">
          <h1 class="text-center pt-3 mt-n5" style="font-family: fantasy">
          </h1>
        </div>
      </div>
    </div>

    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>


<section class="main-blog our-blog" style="background-color: white; padding-top: 20px !important">
  <div class="container ">
    <div class="row">
      <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
        <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">

          <h3 class="text-center" style="border: red
          ;color: red;"  >Join us</h3>
          <form #f="ngForm">
            <div class="card-body">
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label for="nom">First Name :</label>
                  <div class="input-group mb-4">
                    <input class="form-control" placeholder="Nom" aria-label="firstName" type="text" id="firstName" name="firstName"
                      [(ngModel)]="inscription.user.firstName" required minlength="3">
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Last Name</label>
                    <div class="input-group mb-4">
                      <input class="form-control" placeholder="lastName" aria-label="lastName" type="text" id="lastName" name="lastName"
                        [(ngModel)]="inscription.user.lastName">
                    </div>
                </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="xxxxx.xxxxx@xxxx.xxx" aria-label="email" type="email" id="email" name="email" 
                        [(ngModel)]="inscription.user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Confirm Email</label>
                  <div class="input-group">
                    <input name="ConfirmEmail" [(ngModel)]="inscription.user.Confirmemail" #email="ngModel" class="form-control"
                      placeholder="Confirmer Email" aria-label="Confirmer Email" type="email" compare="email" />
                      <div *ngIf="email.errors && (email.dirty || email.touched)">
                        Les adresses e-mail ne correspondent pas.
                      </div>
                  </div>
                </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Civility</label>
                  <div class="input-group mb-4">
                    <div class="row form-inline">
                      <div class="form-check">
                        <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                          type="radio" name="Civilité" id="Civilité1" />
                        <label class="form-check-label" for="Civilité">Mr</label>
                      </div>
                      <div class="form-check">
                        <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                          type="radio" name="Civilité" id="Civilité2" />
                        <label class="form-check-label" for="Civilité">Mme</label>
                      </div>
                      <div class="form-check">
                        <input name="Civilité" [(ngModel)]="inscription.user.civility" #Civilité="ngModel" class="form-check-input"
                          type="radio" name="Civilité" id="Civilité3" />
                        <label class="form-check-label" for="Civilité">Miss</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Birth Date</label>
                  <div class="input-group">
                    <input aria-label="birthDate" type="date" id="birthDate" name="birthDate" [(ngModel)]="inscription.user.birthDate" required />
                  </div>
                </div>
              </div> 
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Passeport</label>
                  <div class="input-group mb-4">
                    <input class="form-control" aria-label="passeport" type="text" id="passeport" name="passeport" [(ngModel)]="inscription.user.passeport"
                      pattern="[0-9]{8}">
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Gouvernorat</label>
                  <div class="input-group mb-4">
                    <select class="form-control" aria-label="address" type="text" id="address" name="address" [(ngModel)]="inscription.user.address">
                      <option value="Ariana"> Ariana</option>
                      <option value="Béja"> Béja</option>
                      <option value="Ben Arous"> Ben Arous</option>
                      <option value="Bizerte"> Bizerte</option>
                      <option value="Gabès"> Gabès</option>
                      <option value="Jendouba"> Jendouba</option>
                      <option value="Kairouan"> Kairouan</option>
                      <option value="Kasserine"> Kasserine</option>
                      <option value="Kebili"> Kebili</option>
                      <option value="Le Kef"> Le Kef</option>
                      <option value="Mahdia"> Mahdia</option>
                      <option value="Manouba"> Manouba</option>
                      <option value="Medenine"> Medenine</option>
                      <option value="Monastir"> Monastir</option>
                      <option value="Nabeul"> Nabeul</option>
                      <option value="Sfax"> Sfax</option>
                      <option value="Siliana"> Siliana</option>
                      <option value="Sidi Bouzid"> Sidi Bouzid</option>
                      <option value="Sousse"> Sousse</option>
                      <option value="Tataouine"> Tataouine</option>
                      <option value="Tozeur"> Tozeur</option>
                      <option value="Tunis"> Tunis</option>
                      <option value="Zaghouan"> Zaghouan</option>
                    </select>
                  </div>
                </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Phone</label>
                  <div class="input-group mb-4">
                    <input class="form-control" aria-label="phone" type="number" id="phone" name="phone"  [(ngModel)]="inscription.user.phone">
                  </div>
                </div>
                <div class="col-md-6">
                    <label>Diploma of the Baccalaureate</label>
                    <div class="input-group mb-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                          [checked]="!enCours" (click)="enableCoursSoir()" />
                        <label class="form-check-label" for="flexRadioDefault1">Already obtained</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                          [checked]="enCours" (click)="disableCoursSoir()" />
                        <label class="form-check-label" for="flexRadioDefault2">In progress</label>
                      </div>
                    </div>
                  </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row" hidden>
                
                <div class="col-md-6 ps-2">
                  <label>daytime classes / evening classes</label>
                  <div class="input-group">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault3"
                        disabled checked />
                      <label class="form-check-label" for="flexRadioDefault3">daytime classes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault4"
                      disabled  />
                      <label class="form-check-label" for="flexRadioDefault4">evening classes</label>
                    </div>
                  </div>
                </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Type of baccalaureate</label>
                  <div class="input-group mb-4">
                    <select class="form-control" required disabled>
                      <option value="E" selected="selected">Foreign Baccalaureate</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Section</label>
                  <div class="input-group">
                    <select class="form-control" required="">
                      <option value="Mathematique">Mathematics</option>
                      <option value="Technique" selected="selected">
                        Technical
                      </option>
                      <option value="Sciences">Sciences</option>
                    </select>
                  </div>
                </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Year of the baccalaureate</label>
                  <div class="input-group mb-4">
                    <input class="form-control" placeholder="yyyy" name="yp" [(ngModel)]="model" ngbDatepicker
                      #d="ngbDatepicker" datepickerMode="year" [value]="currentYear" [disabled]="enCours">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Average for the baccalaureate</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="Moyenne baccalauréat " aria-label="Moyenne baccalauréat"
                      type="text" [disabled]="enCours"/>
                  </div>
                </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Level of education achieved</label>
                  <div class="input-group mb-4">
                    <select id="ContentPlaceHolder1_DropDownList11" class="form-control" required=""
                      [disabled]="enCours">
                      <option selected="selected" value="">bac</option>
                      <option value="">bac+3</option>
                      <option value="">Master</option>
                      <option value="">bac+2</option>
                      <option value="">bac+5</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Type of training</label>
                  <div class="input-group">
                    <select class="form-control" required="">
                      <option value="Informatics">Informatics</option>
                      <option value="Electric">Electric</option>
                      <option value="Mechanical">Mechanical</option>
                      <option value="Civil engineering">Civil engineering </option>
                      <option value="Physics">Physics</option>
                      <option value="Economics">Economics</option>
                      <option value="Management">Management</option>
                    </select>
                  </div>
                </div>
              </div>
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-6">
                  <label>Desired specialty</label>
                  <div class="input-group mb-4">
                    <select class="form-control" required="">
                      <option value="infromatique">Informatics</option>
                      <option value="electrique">Electric</option>
                      <option value="mecanique">Mechanical</option>
                      <option value="genie civil"> Civil engineering</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 ps-2">
                  <label>Entry level at ESPRIT</label>
                  <div class="input-group">
                    <select class="form-control" [value]="" required="" [disabled]="enCours">
                      <option value="1ere année" selected="selected">First year</option>
                      <option value="2eme année">Second year </option>
                      <option value="3eme année infromatique">
                        Third year in Computer Science
                      </option>
                      <option value="3eme année genie civil">
                        Third year in  Civil engineering
                      </option>
                      <option value="3eme année electromécanique">
                        Third year Electromechanics
                      </option>
                      <option value="4eme info">Fourth year in Computer Science</option>
                    </select>
                  </div>
                </div>
              </div>
              <!------------------------- recrutement ----------------------------------->
              <!-- <div class="row">
                <div class="col-md-6">
                  <label>Curriculum Vitæ (C.V)</label>
                  <input type="file" class="form-control" name="cv" (change)="onCvSelected($event)">
                </div>
                <div class="col-md-6 ps-2">
                  <label>Cover Letter</label>
                  <input type="file" class="form-control" name="lm" (change)="onLmSelected($event)">
                </div>
              </div> -->
              <!----------------------------------------------------------------------->
              <div class="row">
                <div class="col-md-12"><br>
                </div>
                <div class="col-md-12" style="text-align: center;">
                  <button type="submit" class="btn bg-gradient-danger w-50"
                    (click)="onSumbit()">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
</section>
