                <div id="hotblocks_item-352" class="hotblocks_item hid-352 hotblocks-item strate-image-bouton">
                    <div class="strate-image-bouton-wrap -bgblanc">
                        <div class="container -white -left">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h2 class="avec-barres">Autres offres de formation</h2>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row" >
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="boite-image-bouton">
                                            <img src="../../assets/Front/img/dayTN.png" alt="Nanoprogrammes" style="border: 4px solid grey;">
                                            <div class="text-content">
                                                <div class="text-content_top">
                                                    <div>
                                                        <h3 style="display: inline-block; margin-right: 10px;">Day Classes</h3>
                                                        <h5 style="display: inline-block; margin-right: 10px;"> (Tunisians)</h5>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                        <p>Centrés sur des thèmes en émergence, les nanoprogrammes allient formation, projet pratique et collaboration avec des experts dans un parcours d&rsquo;apprentissage intensif.</p>
                                                    </div>
                                                </div>
                                                <a class="bt" href="https://www.ulaval.ca/les-etudes/nanoprogrammes" target="_blank">Explorez-les!</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="boite-image-bouton">
                                            <img src="../../assets/Front/img/dayiNT.png" alt="Nanoprogrammes" style="border: 4px solid grey;">
                                            <div class="text-content" style="text-align: center;">
                                                <div class="text-content_top">
                                                    <div>
                                                        <h3 style="display: inline-block; margin-right: 10px;">Day Classes</h3>
                                                        <h5 style="display: inline-block; margin-right: 10px;"> (Internationals)</h5>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                        <p>Centrés sur des thèmes en émergence, les nanoprogrammes allient formation, projet pratique et collaboration avec des experts dans un parcours d&rsquo;apprentissage intensif.</p>
                                                    </div>
                                                </div>
                                                <a class="bt" href="https://www.ulaval.ca/les-etudes/nanoprogrammes" target="_blank">Explorez-les!</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="boite-image-bouton">
                                            <img src="../../assets/Front/img/night.png" alt="Nanoprogrammes" style="border: 4px solid grey;">
                                            <div class="text-content">
                                                <div class="text-content_top">
                                                    <div>
                                                        <h3 style="display: inline-block; margin-right: 10px;">Evening Classes</h3>
                                                        <h5 style="display: inline-block; margin-right: 10px;"> (Tunisians)</h5>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                        <p>Centrés sur des thèmes en émergence, les nanoprogrammes allient formation, projet pratique et collaboration avec des experts dans un parcours d&rsquo;apprentissage intensif.</p>
                                                    </div>
                                                </div>
                                                <a class="bt" href="https://www.ulaval.ca/les-etudes/nanoprogrammes" target="_blank">Explorez-les!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div id="hotblocks_item-276" class="hotblocks_item hid-276 hotblocks-item boite-cta-mince">
                    <div class="boite-cta-mince noir">
                        <div class="container-fluid">
                            <div class="row ">
                                <div class="col-sm-6">
                                    <a href="/faq" target="">
                                        <span class="ligne1">Consultez la foire aux questions</span>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="" target="">
                                        <span class="ligne1">Consultez notre brochure virtuelle</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->