<div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
    <div class="container py-7 postion-relative z-index-2 position-relative">
        <div class="row">
            <div class="col-md-7 mx-auto text-center">
                <h3 class="text-white mb-0">{{ certificate.titleCertif }}</h3>
                <h1 class="text-danger text-gradient mb-4">-------</h1>
                <p class="text-white mb-5" >{{ certificate.bodyCertif }}</p>
                <p class="text-white mb-5" >{{ certificate.signatureCertif }}</p>
                <a class="btn btn-danger btn-lg mb-3 mb-sm-0 ">Download</a>
            </div>
        </div>
    </div>
</div>