<div class="card">
      <h6 style="text-align: center;">{{ course.nameCours }}</h6>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'Angular'">
      <img src="../../../../assets/Front/img/enum/Angular.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'Spring'">
    <img src="../../../../assets/Front/img/enum/spring.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'Python'">
    <img src="../../../../assets/Front/img/enum/python.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'React'">
    <img src="../../../../assets/Front/img/enum/react.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'NodeJs'">
    <img src="../../../../assets/Front/img/enum/node.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'Symfony'">
    <img src="../../../../assets/Front/img/enum/sf.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'PHP'">
    <img src="../../../../assets/Front/img/enum/php.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'JAVA'">
    <img src="../../../../assets/Front/img/enum/Java.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1 d-flex justify-content-center align-items-center" *ngIf="course.technology === 'JavaScript'">
    <img src="../../../../assets/Front/img/enum/JS.png" style="width: 50%;height: 50%;" class="img-fluid border-radius-lg">
  </div>
  <div class="card-body">
      <div class="w-50 mx-auto">
      </div>
      <p class="card-description mb-5 mt-3">
      "{{ course.descriptionCours }}"
      </p>
      <div>
      <span>&#8213;</span>
      {{ course.professorCours }}
      </div>
      <a href="javascript:;" class="text-danger icon-move-right float-end">Read More
      <i class="fas fa-arrow-right text-sm ms-1"></i>
      </a>
  </div>
</div>