<div class="card card-profile overflow-hidden">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 pe-lg-0">
      <a href="javascript:;">
        <div class="p-3 pe-md-0">
          <div *ngIf="course.technology === 'Angular'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/Angular.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'Spring'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/spring.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'Python'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/python.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'React'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/react.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'NodeJs'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/node.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'Symfony'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/sf.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'PHP'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/php.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'JAVA'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/Java.png" alt="image">
          </div>
          <div *ngIf="course.technology === 'JavaScript'">
            <img class="border-radius-md" style="width: 100%;height: 50%;float: left;" src="../../../../assets/Front/img/enum/JS.png" alt="image">
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-8 col-md-6 col-12 ps-lg-0 my-auto">
      <div class="card-body">
        <h3 class="mb-0" [routerLink]="['/chapter',course.idCours]">{{ course.nameCours }}</h3>
        <h5 class="text-info">{{ course.technology }}</h5>
        <p class="mb-0" style="text-align: left;">{{ course.descriptionCours }}</p>
      </div>
    </div>
  </div>
</div>