
                <div id="hotblocks_item-14" class="hotblocks_item hid-14 hotblocks-item boite-texte">
                    <div class=" ">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="avec-barres">
                                        <span>ONLINE_TRAINING</span>
                                    </h1>
                                    <p style="text-align: center;">Esprit, when it was created, gave itself the main mission of training engineers “differently”.
                                                                     For this, the school adopted from the outset a new, dynamic pedagogy putting the student at the center of learning.
                                                                     The adoption of APP (learning by project/problem) has reinforced this desire.
                                                                     A pedagogical innovation center allows teachers to be trained in these new pedagogical practices, which are gradually being extended to the entire course.
                                                                     The evaluation of teaching by the students also contributes to putting the latter at the heart of the learning process.
                                                                     The student is an actor in his training.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hotblocks_item-6" class="hotblocks_item hid-6 hotblocks-item boite-cta-deux-couleurs">
                    <div class="bas">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a (click)="afficherCertifs()" target="">
                                        <span class="ligne1">SHOW</span>
                                        <span class="ligne2">Certificats</span>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a (click)="afficherCours()" target="">
                                        <span class="ligne1">Explorez les</span>
                                        <span class="ligne2">cours</span>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a (click)="addTraining()" target="_blank">
                                        <span class="ligne1">Choisissez une</span>
                                        <span class="ligne2">formation</span>
                                    </a>
                                </div>
                                <div class="col-sm-3">
                                    <a (click)="showTraining()" target="_blank">
                                        <span class="ligne1">Explorer mes</span>
                                        <span class="ligne2">formation</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>