<head>
  <link href="/assets/Front/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/Front/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/assets/Front/css/soft-design-system.css?v=1.0.9" rel="stylesheet" />
</head>


  <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
            <div class="container-fluid px-0">
              <a class="navbar-brand font-weight-bolder ms-sm-3"
                 onclick="location.reload()" rel="tooltip"
                title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                ESPRIT
              </a>
              <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center ms-auto me-3"
                href="./home" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                FORMATIONS
              </a>
              <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center me-3"
                href="./faq" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                FAQ
              </a>
            </div>
          </nav>
          
        </div>
      </div>
  </div>

