
<div id="hotblocks_item-14" class="hotblocks_item hid-14 hotblocks-item boite-texte">
    <div class=" ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12"><br><br>
                    <h4 class="avec-barres">
                        <span></span>
                    </h4><br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="hotblocks_item-6" class="hotblocks_item hid-6 hotblocks-item boite-cta-deux-couleurs">
    <div class="bas">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <a (click)="afficherCertifs()" target="">
                        <span class="ligne1">Explorez mes</span>
                        <span class="ligne2">Certificats</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a (click)="afficherCours()" target="">
                        <span class="ligne1">Explorez les</span>
                        <span class="ligne2">cours</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a (click)="addTraining()" target="_blank">
                        <span class="ligne1">Choisissez une</span>
                        <span class="ligne2">formation</span>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a (click)="showTraining()" target="_blank">
                        <span class="ligne1">Explorer mes</span>
                        <span class="ligne2">formation</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->